
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
   
}

    /* ---Header and Navigations-- */

.header{
    width: 100%;
}
.header i{
    display: none;
}
.nav{
    background-position: center;
 
}
nav{
    display: flex;
    padding: 2% 4%;
   justify-content: space-between;
    align-items: center;
   background-color: white;
   
}
nav img{
    width: 150px;

}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding : 8px 12px;
   
}
.nav-links ul li a{
    color: black;
    text-decoration: none;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: red;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.header .fa-bars{
    color: black;
    margin-right: 10%;
   font-size: 2rem;
   cursor: pointer;
}

         /* ---Header and Navigations end-- */

                   /* imageslider */
 .img-slider{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 1300px;
    height: 500px;
    margin:auto;

}
.img-slider .slide{
    z-index: 1;
    position: absolute;
    width: 100%;
    
       /* after entering maual navigatiion in javascript */
    clip-path: circle(0% at 0 50%);
}

       /* after entering maual navigatiion in javascript */

.img-slider .slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 1s;
    transition-property: clip-path;
}
     /* after entering maual navigatiion in javascript */

.img-slider .slide img{
    z-index: 1;
    width: 100%;
    border-radius: 5px;
}

.img-slider .navigation{
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 55px;
    left: 50%;
    transform: translateX(-50%);
}

.img-slider .navigation .btn{
    background: rgb(242, 214, 219);
    width: 16px;
    height: 16px;
    margin: 12px;
    border-radius: 50%;
    cursor: pointer;
}

        /* after entering maual navigatiion in javascript */
.img-slider .navigation .btn.active{
    background: #2696E9;
    box-shadow: 0 0 2px rgba(34, 34, 34, 0.5);
}
       /* after entering maual navigatiion in javascript */
       /* image slider ends */

            /* Content start */
.grid{
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
}       

.row{
    width: 80%;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px 30px;
}
.row .left{
    overflow: hidden;
}
.row .left img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 30px;
}
.row .right{
    display: flex;
    align-items: center;
}
.row .right .content p{
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 15px;
    text-align: justify;
}

.grid2{
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
    margin-top: 5%;
}       

.row2{
    width: 80%;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px 30px;
}
.row2 .left2{
    overflow: hidden;
}
.row2 .left2 img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 30px;
}
.row2 .right2{
    display: flex;
    align-items: center;
}
.row2 .right2 .content2 p{
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 15px;
    text-align: justify;
}
           /* Content end */

           /* Types of Matchbox starts */
.matchbox {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.matchbox h2{
    padding: 5px;
}
.matchimages{
    display: flex;
    margin-top: 3%;
}
.matchbox p{
    margin-top: 0.8rem;
    line-height: 2;
}
.image{
    flex-basis: 50%;
    flex-wrap: wrap;
   
}

.image img{
 width: 60%;
 border-radius: 20px;
 cursor: pointer;

}
.image:hover{
  transform: translate(-1rem, -2ex);
  transition: 1s ease-out
}
              /* Types of Matchbox ends */

.testimonials{
    padding: 40px 0;
    background: #f1f1f1;
    color: #434343;
    text-align: center;
}
    .inner{
        max-width: 100%;
        margin: auto;
        overflow: hidden;
        padding: 0 20px;
    }    
    
        .test-row{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
          
          
        }
        .test-col{
            flex: 33.33%;
            max-width: 30%;
            box-sizing: border-box;
            padding: 15px;

        }
        .testimonial{
            background: #fff;
            padding: 30px;
        }
        .testimonial img{
            width: 100px;
            height: 100px;
            border-radius: 56%;
        }
        .name{
            font-size: 20px;
            text-transform: uppercase;
            margin: 20px 0;
        }
        .stars{
            color: #6ab04c;
            margin: 20px;

        }
        @media screen and (max-width : 960px){
            .test-col{
                flex: 100%;
                max-width: 80%;
            }
        }
        @media screen and (max-width : 600px){
            .test-col{
                flex: 100%;
                max-width: 100%;
            }
        }
             /* MEDIA QUERY */
             /* Nav Media query */
        
 @media (min-width:280px) and (max-width:414px){
            .nav-links{
                position: fixed;
                background: black;
                height: 100vh;
                width: 120px;
                top: 0;
                right: -200px;
                text-align: left;
                z-index: 2;
                font-size: 12px;
                padding: 5px;
               
            }
            nav .fa{
                display: inline-block;
                color: white;
                margin: 20px 0 10px 12px;
                font-size: 12px;
                cursor: pointer; 
            }
            .nav-links ul li a{
                color: white;
                text-decoration: none;
            }

        }
          
 @media (min-width:414px) and (max-width:730px){
            .nav-links{
                position: fixed;
                background: black;
                height: 100vh;
                width: 180px;
                top: 0;
                right: -200px;
                text-align: left;
                z-index: 2;
                font-size: 16px;
                padding: 5px;
            
            }
            nav .fa{
                display: inline-block;
                color: white;
                margin: 20px 0 10px 12px;
                font-size: 16px;
                cursor: pointer; 
            }
            .nav-links ul li a{
                color: white;
                text-decoration: none;
            }
          
        }
               /* Nav Media query Ends */
                  

        /* Image Slider and Contact Us Starts */

 @media (max-width:1320px){
                 /* imageslider start */
            .img-slider{
                width: 1000px;
                height: 450px;
                margin-top: -10px;
            }
        
            .img-slider .navigation{
                bottom: 70px;
            }
            
            .img-slider .navigation .btn{
                width: 14px;
                height: 14px;
                margin: 12px;
            }
              /* imageslider end */

            
              
              .contactus{
                width: 1000px;
                height: 300px;
                margin-top: -100px;
            }
            .contactus button{
                top: 120px;
            }   
        }
        
        @media (max-width:1024px){
            /* imageslider start */
            .img-slider{
                width: 800px;
                height: 400px;
                
                margin-top: -20px;
            }
        
            .img-slider .navigation{
                bottom: 75px;
            }
            
            .img-slider .navigation .btn{
                width: 14px;
                height: 14px;
                margin: 12px;
            }
              /* imageslider end */

                   /* Contact us start */              
            .contactus{
                width: 800px;
                height: 300px;
                margin-top: -180px;
            }
            .contactus button{
                top: 90px;
                font-size: 15px;
                width: 100px;
                height: 35px;
                border-radius: 9px;
            }
                   /* Contact us end */            
        }
        @media (min-width : 821px){
            .wrapper{
                margin-top: -3%;
            }
        }
        
        @media (max-width:820px){
            
            /* imageslider start */
            .img-slider{
                width: 600px;
                height: 375px;
                margin-top: -40px;
            }
        
            .img-slider .navigation{
                bottom: 95px;
            }
            
            .img-slider .navigation .btn{
                width: 10px;
                height: 10px;
                margin: 9px;
            }
             /* imageslider end */

            
                   /* Contact us start */             
            .contactus{
                width: 600px;
                height: 300px;
                margin-top: -270px;
            }
            .contactus button{
                top: 60px;
                font-size: 11px;
                width: 80px;
                height: 30px;
                border-radius: 7px;
            }
                   /* Contact us end */  
        }
        
        @media (max-width:620px){
            /* imageslider start */
            .img-slider{
                width: 400px;
                height: 250px;
                margin-top: -30px;
            }
        
            .img-slider .navigation{
                bottom: 65px;
            }
            
            .img-slider .navigation .btn{
                width: 8px;
                height: 8px;
                margin: 6px;
            }
            /* imageslider end */


                   /* Contact us start */            
            .contactus{
                width: 400px;
                height: 250px;
                margin-top: -370px;
            }
            .contactus button{
                top: 40px;
                font-size: 9px;
                width: 65px;
                height: 25px;
                border-radius: 5px;
            }
                   /* Contact us end */            
        }
        
        @media (max-width:420px){
            /* imageslider start */

            .img-slider{
                width: 320px;
                height: 200px;
                margin-top: -30px;
            }
        
            .img-slider .navigation{
                bottom: 52px;
            }
            
            .img-slider .navigation .btn{
                width: 6px;
                height: 6px;
                margin: 4px;
            }
             /* imageslider end */

                   /* Contact us start */
            .contactus{
                width: 320px;
                height: 200px;
                margin-top: -410px;
            }
            .contactus button{
                top: 35px;
                font-size: 6px;
                width: 50px;
                height: 15px;
                border-radius: 4px;
            }
                /* Contact us end */
        }
@media(max-width:330px){
          /* imageslider start */

          .img-slider{
            width: 280px;
            height: 200px;
            margin-top: -30px;
        }
    
        .img-slider .navigation{
            bottom: 58px;
        }
        
        .img-slider .navigation .btn{
            width: 6px;
            height: 6px;
            margin: 4px;
        }
         /* imageslider end */
}

           /* Image Slider and Contact Us Ends */


           /* Content Starts */

@media(max-width : 991px){
    .row .right .content p{
        padding-left: 0;
    }
}
@media(max-width : 768px){
    .row{
        width: 90%;
        grid-template-columns: 1fr;
    }

    .row2 .right2 .content2 p{
        padding-left: 0;
    }
}
@media(max-width : 768px){
    .row2{
        width: 90%;
        grid-template-columns: 1fr;
    }    
}
@media(max-width : 325px){
    .row2 .right2 .content2 h1{
        font-size: 1.7rem;
        padding-left: 0;
    }
    .row1 .right1 .content1 h1{
        font-size: 1.7rem;
        padding-left: 0;
    }
}
         /* Content Ends */
        




     